body{
    background-color: #18478f;
    color: rgb(255, 255, 255);
    text-align: center;
}     
img{
     text-align: center;
     
}


div{
    padding: auto;
    position: relative;
    top: 50px;    
    font-size:medium;
    border: 10px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 1270px;
    padding: 20px;
    color: black;
    text-align:center;
       
}

h3{
    color: rgb(255, 0, 0);
    text-align: left;
    font-size: medium;
    

}

h1{  
    color:rgb(201, 24, 24, 0.445);
    text-align: center;
    font-size:x-large;    
}

p{
    text-align: right;
    text-decoration: underline;
    padding: 5px;
    width: 1280px;
    }
h2{
    color: rgb(0, 0, 0);
    text-align: left;
    font-size:medium; 
    padding: 40px;

    }
h4{
       
    color: black;
    font-size:small;
    padding: 20px; 
    width: 600px;
    border: 3px solid rgba(201, 24, 24, 0.445);
    
}
h5{
      text-align: left;
      font-size: medium;
      width: 10px;
}

